body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, sans-serif;
}


h1 {
  text-align: center;
  color: #6c6d2d;
  font-size: 2.5rem;
  margin-top: 40px;
}

.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 350px;
  margin: 0 auto;
  border: 2px dashed #00bfff;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.dropzone p {
  margin: 0;
  font-size: 1.2rem;
  color: #144933;
  font-weight: 900;
}

.dragging .dropzone {
  border-color: #00bfff;
  background-color: rgba(0, 191, 255, 0.1);
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

img:not(.eximg) {
  width: 250px;
  height: 230px;
  margin: 10px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 191, 255, 0.5);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

img:hover:not(.eximg) {
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(0, 191, 255, 0.8);
}

.image-frame {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image {
  margin: 0 auto;
  border: 1px solid #00bfff;
  border-radius: 10px;
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

.intro-text {
  padding:150px;
}


/* result.css */
.image-frame {
  text-align: center;
  display: flex;
  justify-content: center;
}

.image {
  margin: 0 auto;
  border: 1px solid black;
}

/* Sidebar.css */
.sidebar {
  flex: 1;
  height: 300px;
  background-color: #F4F692;
  border-bottom-right-radius: 10px;
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 2rem;
}

.sidebarTitle {
  font-size: 0.9rem;
  color: rgb(22, 11, 11);
  background-color: #FAFBC7;
  padding: 10px;
}

.sidebarList {
  list-style: none;
  padding: 0.5rem;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(212, 209, 235);
}

.sidebarListItem a {
  text-decoration: none;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align:center;
}

.developer {
  font-weight: 900;
}

/* Sidebar 구현 */
.container {
  display: flex;
  flex-direction: 'row';
  flex: 1;
}

.sd {
  position: fixed;
  fleX: 1;
}

.ma {
  flex: 1;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}

.modal>section {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}

.modal>section>header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #f1f1f1;
  font-weight: 700;
}

.modal>section>header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}

.modal>section>main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}

.modal>section>footer {
  padding: 12px 16px;
  text-align: right;
}

.modal>section>footer button {
  padding: 6px 12px;
  color: #fff;
  background-color: #6c757d;
  border-radius: 5px;
  font-size: 13px;
}

.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.eximg {
  width: 400px;
  height: 160px;
  margin: 10px;
  object-fit: fill;
}

.intro-text {
  font-style: italic;
  font-size: 1.5rem;
  margin: 20px 50px;
}

.content{
  min-width: 1280px;
  width:80%;
  margin: 0 auto;
}